@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .full-container {
    margin: 0 calc(50% - 50vw);
    height: calc(100vh - 80px);
    width: 100vw;
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
  }

  .full-y-container {
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
  }

  .react-calendar-heatmap .color-scale-1 {
    fill: #d6e685;
  }
  .react-calendar-heatmap .color-scale-2 {
    fill: #8cc665;
  }
  .react-calendar-heatmap .color-scale-3 {
    fill: #44a340;
  }
  .react-calendar-heatmap .color-scale-4 {
    fill: #1e6823;
  }
}
