@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .full-container {
    margin: 0 calc(50% - 50vw);
    height: calc(100vh - 80px);
    width: 100vw;
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
  }
}
